@using E_Commerce.Models
@model IEnumerable<E_Commerce.Models.Messages>
@{
    ViewBag.Title = "Messages";
}
<h2>@ViewBag.Title.</h2>

@foreach (var message in Model)
{
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@message.Topic</h5>
                <p class="card-text">@message.Speaker</p>
                <a href="@message.Uri">Download</a>
                @Html.ActionLink("Watch", "WatchMessage", message)
            </div>
        </div>
    </div>
}