@using E_Commerce.Models
@model IEnumerable<E_Commerce.Models.Movies>
@{
    ViewBag.Title = "Movies";
}
<h2>@ViewBag.Title.</h2>

@foreach (var movie in Model)
{
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@movie.Name</h5>
                <p class="card-text">@movie.Genre</p>
                <p class="card-text">@movie.Rating</p>
                <p class="card-text">@movie.Description</p>
                <a href="@movie.Uri">Watch</a>
            </div>
        </div>
    </div>
}

